
.flex2{
    display: flex;
    background-color: black;
    justify-content: center
}

.container{
    display: flex;
    flex-direction: column;
    width: 800px;
    background-color: #0D0D0D;
}


.mensagens{
    color: #C4C4C4;
    
}

.ctt{
    border-radius: 100%;
    height: 50%;
    padding-top: 20px;
    padding-left: 5px
}

.contato{
    display: flex;
    color: #C4C4C4;
    flex-direction: row;
    height: 73px;
}

.status{
    display: flex;
    color: #C4C4C4;
    flex-direction: row;
}

h1{
    padding-left: 5px;
}

.titulo{
    display: flex;
    flex-direction: column;
    background-color: #212121;
}

figcaption{
    padding-left: 50px;
    font-size: 15px;
    padding-bottom: 10px
}

.mensagens{
    padding-bottom: 100%;
    overflow-y: scroll;
    padding: 0;
    height: 700px;
    padding-left: 50px
}

.envio{
    display: flex;
    justify-content: center
}

form > textarea{
    width: 80%;
}

.flex{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.botao-enviar{
    margin: 1%;
}

.flex4{
    margin-top: auto;
}

.texto{
    display: flex;
    margin-bottom: 20px;
    background-color: #C4C4C4;
    border-radius: 2%;
}

.mensagem{
    border: white solid;
    margin: 10px;
    border-width: 1px;
}
